
@{
    Layout = "../_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div class="container contentContainer text-center">
        <p><h1>Trivia Quiz Assignment</h1></p>
        <div class="contentText">
            <p>OOSD Semester 1 2017</p>
            <p>by Brendan Kelly</p>
            <br />
            <p><a href="~/User/UserPage">Log in</a> to take a <a href="~/Trivia/Quiz">quiz</a></p>
            <p>Or view the monthly <a href="~/Trivia/HighScores">high scores</a></p>
            
        </div>
    </div>
</body>
</html>
